.row {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.layout-container {
  @include clearfix;
}

.layout-sidebar {
  @include media(720px) {
    float: left;
    width: 30%;
    margin-right: 5%;
  }
}

.layout-main {
  @include media(720px) {
    float: left;
    width: 65%;
  }
}
