.session-view {
  line-height: 1.5;
}

.session-view-title {
  color: get-color('navy');
  font-size: 2.25rem;
  line-height: 1.25;

  margin: 0 0 0.5em;
}

.session-view-speakers {
  color: get-color('navy');
  font-size: 0.9rem;
  font-weight: bold;
}

.session-view-subheading {
  color: get-color('navy');
  font-size: 1.75rem;

  margin: 0.5em 0;
}
