.session-tabs-heading {
  color: get-color('navy');
  margin: 0 0 0.5em;
}

.session-tabs {
  list-style-type: none;
  padding: 0;
}

.session-tab {
  padding: 10px;
  font-size: 0.9rem;
  border-top: 1px solid get-color('light-gray');

  &:last-child { border-bottom: 1px solid get-color('light-gray'); }

  &.active { background-color: get-color('off-white'); }
}

.session-tab-title {
  color: get-color('navy');
  font-weight: bold;
  margin-bottom: 0.5em;
}

.session-tab-speakers {
  color: get-color('mid-gray');
}

