.track-tabs {
  margin: 45px 0;
  border-bottom: 1px solid get-color('light-gray');
}

.track-tab {
  @include appearance(none);
  display: inline-block;
  padding: 10px 15px;

  border: 1px solid get-color('light-gray');
  border-bottom: 0;
  background-color: get-color('off-white');

  // Collapse borders
  &:not(:first-child) { border-left: 0; }

  &:first-child { border-radius: 3px 0 0 0; }
  &:last-child { border-radius: 0 3px 0 0; }

  &.active {
    color: get-color('charcoal');
    background-color: get-color('white');
    border-bottom-color: get-color('white');
    box-shadow: 0 1px 0 0 get-color('white');
  }

  &:focus { outline: 0; }
}
